@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-blue-50: #EFF8FF;
  --color-blue-100: #DFF1FF;
  --color-blue-200: #B8E3FF;
  --color-blue-300: #7CCBFF;
  --color-blue-400: #38BDF8;
  --color-blue-500: #0EA5E9;
  --color-blue-600: #0284C7;
  --color-blue-700: #0369A1;
  --color-blue-800: #075985;
  --color-blue-900: #0C4A6E;
  --color-blue-950: #082F49;
}
